@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
:root {
  --background-color: #454545;
  --primary-color: #3aafb9;
  --white: #ffff;
  --light-gray: #eeee;
  --light-primary: #e6fcff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.wrapper {
  background-color: var(--white);
  position: absolute;
  width: 554px;
  height: 598px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 15px 15px #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

.scrollable-table {
  overflow: auto;
  width: 450px;
  height: 430px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(10%, 0%);
}

.scrollable-table td {
  border: #232323;
}

.scrollable-table tr {
  display: block;
  margin: 15px 50px;
}

.list-wrapper {
  margin-top: 40px;
  width: 100%;
}

#vertical {
  border-radius: 9px;
  width: 435px;
}

#vertical thead {
  max-width: 150px;
}

#vertical tbody {
  display: inline-block;
  background-color: var(--light-gray);
  margin-top: 16px;
  max-width: 285px;
  text-align: left;
  width: auto;
}

#vertical thead,
#vertical tbody {
  display: inline-block;
  background-color: var(--light-gray);
  margin-top: 16px;
}

/* navbar */

.navbar {
  background-color: var(--white);
  width: 800px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

.navbar li {
  display: inline-block;
  padding: 0;
}

.navbar li a {
  display: block;
  color: var(--primary-color);
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 20px;
}

.navbar li a:hover {
  background-color: var(--light-gray);
}
